<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3b1564655b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <title>СуперСайт</title>
</head>
<body>
<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>
                    <a href="/"><img src="static/data/logo.jpg" width="75" height="75"></a>
                </h1>
            </div>
            <nav class="col-8">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="/form_sample"><i class="fa-solid fa-user"></i> Войти</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--блок карусели-->
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/data/image1.png" width="1000" height="300" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/data/image2.jpg" height="300" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<!--блок карусели END-->
<div>
    <h2 class="slider-title">О нас</h2>
    <p>Наша компания, предоставляет услуги в сфере грузоперевозок в Калуге и перевозке грузов по России.Работаем строго по разработанной формуле, цена + качество = Грузотакси"Online".<br></br>Грузотакси "ОНЛАЙН"<br>
 За 13 лет добросовестной работы,приобрели большой опыт в данной сфере, заключены несколько десятков договоров на безналичной основе, больше десяти тысяч выполненных заявок ,а именно: грузоперевозки по Калуге(России,Москве и Московской области),переезды по Калуге и городам России,вывоз строительного мусора с утилизацией на полигоне ТБО (Газель ,Зил,Камаз.).Доставка песка,щебня земли.Услуги грузчиков в Калуге ( такелаж перевозка пианино, сейфы ,оборудование,мебели,квартирные и офисные переезды.<br>
Грузотакси"ОНЛАЙН" имеет большой собственный парк:</p>
    <ul>
        <li>Газели до 1.5 тонн(12-17 куб)</li>
        <li>Мерседесы 5 тонн( 36-40 куб)</li>
        <li>самосвалы( Зил,Камаз от 5 до 12 куб.)</li>
    </ul>
</div>
<!--footer-->
<div class="footer container-fluid">
    <div class="footer-content container">
        <div class="row">
            <div class="footer-section about col-md-4 col-12">
                <h3 class="logo-text">ГрузоТакси</h3>
                <div class="contact">
                    <span><i class="fa fa-phone"></i> &nbsp; +79200969506</span><br>
                    <span><i class="fa fa-phone"></i> &nbsp; +79056407151</span>
                </div>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer END-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>